# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore the model file
models/model.joblib

# Ignore the Dockerfile and requirements.txt
Dockerfile
requirements.t

# Ignore the README file
README.md
